<h1>This is index view</h1>
<% @message.each do |message| %>
<div class="col-md-4">
    <div class="message">
<h4 class="message-title"><%= message.title %></h4>
<%= link_to "View Message", message_path(message), class: "btn btn_default" %>
        </div>
	</div>
<% end %>

	